{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-8 col-sm-12">
        <div class="contact-form-right">
            <h2>REGISTER</h2>
            <form id="contactForm" method="POST">
                {% csrf_token %}
                <div class="row">
                    {{form.non_field.errors}}
                    <div class="col-md-12">
                        <div class="form-group">
                            <h2>Your Username:</h2>
                            {{form.username}}
                            <div class="help-block with-errors">{{form.username.errors}}</div>
                        </div>
                        <div class="form-group">
                            <h2>Your Email:</h2>
                            {{form.email}}
                            <div class="help-block with-errors">{{form.email.errors}}</div>
                        </div>
                        <div class="form-group">
                            <h2>Press Your Password:</h2>
                            {{form.password1}}
                            <div class="help-block with-errors">{{form.password1.errors}}</div>
                        </div>
                        <div class="form-group">
                            <h2>Repeat Your Password:</h2>
                            {{form.password2}}
                            <div class="help-block with-errors">{{form.password2.errors}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="submit-button text-center">
                            <button class="btn hvr-hover" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}